body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
	margin: 0;
	padding: 0;
}
button {
	outline: none;
	border-style: none;
	padding: 0;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
ul {
	list-style: none;
}
a:link, a:visited {
	text-decoration: none;
	color: #333;
}
.clear{
	clear:both;
}
body{
	max-width: 7.5rem;
	font-family: Microsoft Yahei,simhei;
	margin: 0 auto;
	background: #f5f5f5;
	font-size: .28rem;color:#333;
	}
.y-flex{
	display: flex;
}
.y-jc{
	justify-content: center;
}
.y-jc-b{
	justify-content: space-between;
}
.y-ac-fe{
	align-items: flex-end;
}
.y-ac{
	align-items: center
}
.flex1{
	flex: 1;
	overflow: hidden;
}
/* 宽高 */
.w70{
	width:.7rem;
}
.w175{
	width: 1.75rem;
}
.w50{
	width: .5rem;
}
.lrpad35{
	padding: 0 .35rem;
}
.rpad18{
	padding-right: .18rem;
}
.rmar15{
	margin-right: .15rem;
}
.w120{
	width: 1.2rem;
}
.bmar15{
	margin-bottom: .15rem;
}
.bmar20{
	margin-bottom: .2rem;
}
.rpad24{
	padding-right: .24rem;
}
.bpad26{
	padding-bottom: .26rem;
}
.tpad27{padding-top: .27rem;}
.lrpad32{
	padding: 0 .32rem;
}
.tpad36{
	padding-top: .36rem;
}
.bmar56{
	margin-bottom: .56rem;
}
.lpad26{
	padding-left: .26rem;
}
.bmar26{
	margin-bottom: .26rem;
}
.lrpad30{
	padding: 0 .3rem;
}
.bmar52{margin-bottom: .52rem;}
.bmar44{
	margin-bottom: .44rem;
}
.lpad32{
	padding-left: .32rem;
}
.bmar40{
	margin-bottom: .4rem;
}
.tpad40{
	padding-top: .4rem;
}
.bpad12{
	padding-bottom: .12rem;
}
.bmar24{
	margin-bottom: .24rem;
}
.bmar16{
	margin-bottom: .16rem;
}
.rmar25{
	margin-right: .25rem
}
.h80{
	height: .8rem;
}
.h44{
	height: .44rem;
}
.tpad60{
	padding-top: .6rem;
}
.lpad8{
	padding-left:.08rem; 
}
.tpad44{
	padding-top:.44rem; 
}
.bpad51{
	padding-bottom: .51rem;
}
.bmar20{
	margin-bottom: .2rem
}
.bmar10{
	margin-bottom: .1rem
}
.bpad100{
	padding-bottom: 1rem;
}
.bpad200{
	padding-bottom: 2rem;
}.mh44{
	min-height: .44rem;
}
/* 宽高end */
/* 颜色 */
.bgf{
	background: #fff;
}
/* 颜色end */
/* 字体 */
.fz36{
	font-size: .36rem;
}
.fz26{
	font-size: .26rem;
}
.fz64{
	font-size: .64rem;
}
.fz33{
	font-size: .33rem;
}
.text-c{
	text-align: center;
}
.fz28{
	font-size: .28rem;
}
.c000{
	color: #000;
}
.lh60{
	line-height: .6rem;
}
.c999{
	color: #999;
}
.ce71a41{
	color: #e71a41;
}
.fz40{
	font-size: .4rem;
}
.c333{
	color: #333;
}
.lh32{
	line-height: .32rem;
}
.lh40{
	line-height: .4rem;
}
.cf00{
	color: #f00;
}
.fz24{
	font-size: .24rem;
}
.fz30{
	font-size: .3rem;
}
.c666{
	color: #666;
}
.fz20{
	font-size: .2rem;
}
.text-r{
	text-align: right;
}
.fwb{
	font-weight: bold
}
.fz32{
	font-size: .32rem
}
.cf5222d{
	color: #f5222d;
}
/* 字体end */

/*add by chenghai*/
.main{position:absolute;top:.88rem;bottom:1rem;overflow:auto;width:7.5rem}
.main2{position:absolute;top:.88rem;bottom:0;overflow:auto;width:7.5rem}
/* .main2{position:absolute;top:.88rem;bottom:0;overflow:auto;width:7.5rem} */
.pd20{padding:.2rem}
.pdlr20{padding-left:.2rem;padding-right:.2rem}
.pdtb20{padding-top:.2rem;padding-bottom:.2rem}
.mt20{margin-top:.2rem}
.mb20{margin-bottom:.2rem}
.mb60{margin-bottom:.6rem}
.mlr20{margin-left:.2rem;margin-right:.2rem}
.mtb20{margin-top:.2rem;margin-bottom:.2rem}
.btn-aoc{box-sizing:border-box;display:inline-block;margin:0 auto;height:.9rem;line-height:.9rem;font-weight:700;font-size:.32rem;text-align:center;color:#fff;background-image:-webkit-linear-gradient(225deg,#f5252d 0,#ff7d32 94%);background-image:linear-gradient(225deg,#f5252d 0,#ff7d32 94%);border-radius:.04rem;border:none;width:100%}
.btn-aoc-disble{background-image:-webkit-linear-gradient(225deg,#f4757b 0,#f9ac7e 94%);background-image:linear-gradient(225deg,#f4757b 0,#f9ac7e 94%);}
.content img{max-width:100%}
.base_box{background:#fff}
.base_box .tit{position:relative;display:flex;align-items:center;justify-content:space-between;font-size:.3rem;height:.88rem}
.base_box .tit .l{display: flex;align-items: center;}
.base_box .tit .r{display:flex;align-items:center;color:#999;font-size: .24rem;}
.base_box .tit .r img{margin-left:.1rem;width: 0.08rem; height: .14rem;}
/*定位上下左右居中*/
.abs-center{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);-ms-transform: translate(-50%,-50%);  }
/*上下居中*/
.abs-topcenter{position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);}
/*左右居中*/
.abs-leftcenter{position:absolute;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);}

.vux-tab-wrap{padding-top:.7rem!important}
.vux-tab-wrap .vux-tab-container{height:.7rem}
.vux-tab-wrap .vux-tab-container .vux-tab{height:.7rem}
.vux-tab-wrap .vux-tab-container .vux-tab .vux-tab-item{font-size:.3rem;line-height:.7rem}
.vux-tab-wrap .vux-tab-container .vux-tab .vux-tab-item .vux-tab-ink-bar{height:.06rem!important}
/*add by chenghai end*/

.vux-header {
	background: #fff !important;
	padding: 0 !important;
	height: 0.88rem !important;
	position: relative;
	}
 .vux-header::after {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	width: 100%;
	height: 1px;
	background: #e6e6e6;
	background-size: contain;
  }
  .vux-header .vux-header-title > span {
	color: #333;
  }
  .vux-header-title-area,
  .vux-header .vux-header-title {
	height: 0.88rem !important;
	line-height: 0.88rem !important;
	font-size: 0.4rem !important;
  }
  .vux-header .vux-header-left {
	top: 50% !important;
	margin-top: -0.17rem;
  }
  .vux-header .vux-header-left .left-arrow {
	width: 0.2rem !important;
	height: 0.34rem !important;
	background: url(../../static/images/top-return-icon.png) no-repeat;
	background-size: 100%;
	top: 0 !important;
	left: 0 !important;
  }
  .vux-header .vux-header-left .left-arrow:before {
	content: none !important;
  }
  .vux-header .vux-header-left {
	left: 0.3rem;
  }